<nav class="navbar navbar-expand-lg">
    <div class="container-fluid position-relative">
        <!-- Logo levo -->
        <a class="navbar-brand nav-logo" href="/">
            <img src="/images/WeInvest.png" alt="WeInvest Logo">
        </a>

        <!-- Toggler za mobilne -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Centralni linkovi + korisnik -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
            <!-- Centralni linkovi -->
            <ul class="navbar-nav mx-auto position-absolute top-50 start-50 translate-middle">
                <li class="nav-item mx-2">
                    <a class="nav-link nav-link-style first-nav-link" href="/">Početna</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link nav-link-style" href="/groups">Grupa</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link nav-link-style" href="/help">Pomoć</a>
                </li>
            </ul>

            <!-- Desno korisničko ime -->
            <div class="d-flex align-items-center user-nav ms-auto">
                <% if (user != "") { %>
                    <a href="/profile" class="nav-link nav-link-style user-link d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-person-fill me-1" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                        <span class="pe-2">
                            <%= user.username %>
                        </span>
                        <b>
                            🔥<%= user.streak %>
                        </b>
                    </a>
                <% } %>
            </div>
        </div>
    </div>
</nav>