<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div class="page-error404-container">
        <div class="page-error404-content">
            <img src="/images/Error404.png" alt="external-404-no-code-flaticons-flat-flat-icons" class="page-error404-image">
                <h1 class="page-error404-title">Ups... nismo mogli pronaći stranicu koju tražiš</h1>
                <p class="page-error404-text">Izgleda da ova stranica ne postoji. Možda si pogrešno ukucao adresu ili je uklonjena.</p>
                <a href="/" class="page-error404-home-link">Vrati se na početnu stranicu</a>
            </div>
        </div>
    <%- include("./partials/footer.ejs") %>
</body>
</html>