<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <section class="hero-section">
        <%- include("./partials/nav.ejs") %>
        <div class="container">
            <div class="hero-info">
                <h1>Keš Kolica & Šmekerica</h1>
                <p>Da li si znao da prosečan mladi građanin u <span style="color: #C73339; font-weight: 700;">Sr</span><span style="color: #0C4076; font-weight: 700;">bi</span><span style="font-weight: 700;">ji</span> u 25. godini <span style="font-weight: 700;">NIJE</span> uštedeo ni dinar <br> dok bi mogao da zaradi svoj prvi auto samo ako štedi svakodnevno 1 godinu?</p>
                <div class="buttons-wrapper">
                    <a class="custom-button" href="/profile">Moj profil</a>
                    <a class="custom-button" href="/help">Pomoć</a>
                </div>
            </div>
        </div>
    </section>
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>