<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <%- include("./partials/nav.ejs") %>
    <section class="container">
        <div class="hero-section">
            <h1>Da li si znao da prosečan mladi u Srbiji u 25. godini NIJE uštedeo ni dinar – dok bi mogao da zaradi svoj prvi auto samo ako štedi svakodnevno 1 godinu?</h1>
        </div>
    </section>
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>