<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs")%>
<body>
    <div id="preloader">
        <div class="preloader-text"></div>
    </div>
    <section class="hero-section">
        <%- include("./partials/nav.ejs") %>
        <div class="container">
            <div class="hero-info">
                <h1>Ke코 Kolica & 맔ekerica</h1>
                <p>Da li si znao da prose캜an mladi gra캠anin u <span style="color: #C73339; font-weight: 700;">Sr</span><span style="color: #0C4076; font-weight: 700;">bi</span><span style="font-weight: 700;">ji</span> u 25. godini <span style="font-weight: 700;">NIJE</span> u코tedeo ni dinar <br> dok bi mogao da zaradi svoj prvi auto samo ako 코tedi svakodnevno 1 godinu?</p>
                <div class="buttons-wrapper">
                    <a class="custom-button" href="/profile">Profil</a>
                    <a class="custom-button" href="/help">Pomo캖</a>
                </div>
            </div>
        </div>
    </section>
    <section class="second-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12 second-left-column">
                    <p>Cilj</p>
                    <h2>Ostvarite svoje snove <br> o 코tednji zajedno</h2>
                </div>
                <div class="col-md-6 col-12 second-right-column">
                    <p>Sa Welnvest-om, mo쬰te postaviti li캜ne ciljeve 코tednje koji c패e vas inspirisati da efikasnije 코tedite. Udru쬴te se sa prijateljima za grupne ciljeve, 캜inec패i 코tednju zabavnim i zajedni캜kim iskustvom. Bilo da je u pitanju putovanje ili poseban doga캠aj, zajedni캜ki rad poja캜ava motivaciju i odgovornost.</p>
                <div class="buttons-wrapper">
                    <a class="custom-button" href="/profile">Profil</a>
                    <a class="custom-button" href="/groups">Grupe</a>
                </div>
                </div>
            </div>
            <img src="/images/Cilj.jpg" alt="Cilj">
        </div>
    </section>
    <section class="third-section">
        <div class="container">
            <div class="row third-info-wrapper">
                <div class="col-md-6 col-12 third-left-column">
                    <p>Osobine</p>
                    <h2>Otkrijte na코e uzbudljive <br> funkcije 코tednje</h2>
                </div>
                <div class="col-md-1 col-12"></div>
                <div class="col-md-5 col-12 third-right-column text-end">
                    <p>Welnvest 캜ini 코tednju novca zanimljivom i korisnom. Uz na코e mini izazove mo쬰te se baviti zabavnim zadacima koji vam poma쬿 da ostvarite svoje ciljeve. Ostanite motivisani sa prijateljima i u쬴vajte u zajedni캜kom putovanju 코tednje!</p>
                </div>
            </div>
            <div class="row third-cards">
                <div class="col-md-4 col-12 third-card">
                    <img src="/images/Pig.png" alt="Pig">
                    <h3>Zanimljivi mini izazovi za svakoga</h3>
                    <p>Pratite svoj napredak i odr쬬vajte niz 코tednje!</p>
                </div>
                <div class="col-md-4 col-12 third-card">
                    <img src="/images/Pig.png" alt="Pig">
                    <h3>Prihvatite uzbudljive izazove da biste povec패ali svoju u코te캠evinu!</h3>
                    <p>Zaradite nagrade za svoja dostignuc패a u 코tednji</p>
                </div>
                <div class="col-md-4 col-12 third-card">
                    <img src="/images/Pig.png" alt="Pig">
                    <h3>Ostanite dosledni sa na코im sistemima niza 코tednje</h3>
                    <p>Otklju캜ajte uzbudljive nagrade dok dosti쬰te svoje ciljeve!</p>
                </div>
            </div>
        </div>
    </section>
    <script>
    const texts = ["Ke코 游눶", "Kolica 游", "맔ekerica 游땙"];
    const durations = [550, 500, 500];
    const preloader = document.getElementById("preloader");
    const preloaderText = document.querySelector(".preloader-text");

    let index = 0;

    function showNextText() {
        preloaderText.classList.remove("show");

        setTimeout(() => {
        preloaderText.textContent = texts[index];
        preloaderText.classList.add("show");

        const currentDuration = durations[index];
        index++;
        if (index < texts.length) {
            setTimeout(showNextText, currentDuration);
        } else {
            setTimeout(() => {
            preloader.style.opacity = "0";
            setTimeout(() => {
                preloader.style.display = "none";
            }, 500);
            }, currentDuration + 200);
        }
        }, 250);
    }

    window.addEventListener("load", () => {
        showNextText();
    });
    </script>
    <%- include("./partials/footer.ejs") %>
</body>
</html>